<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <a href="{{site.baseurl}}/pages/about"><h2>Chi siamo</h2></a>
                </div>
                <div class="about-content">
                    <p>Andrea Vimercati, biologo, master in biologia molecolare, da oltre vent’anni nel mercato dell’industria farmaceutica e soprattutto diagnostica con alcune delle più grandi Company multinazionali come Becton Dickinson, Novartis, Grifols, Pfizer, Menarini.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>