<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>Le più grandi multinazionali nella Diagnostica scelgono VIMEX</h3>
                    <!-- <div class="call-to-action">
                        <a href="{{site.baseurl}}/portfolio" class="btn video-view">Scopri perchè</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>