<div class="header-top blue-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-8 text-center text-md-left">
                <div class="header-top-cta">
                    <span><i class="fas fa-map-marker-alt"></i>Via A. Costa 2, Milano</span>
                    <span><i class="far fa-envelope-open"></i>andrea.vimercati@vimexsrl.com</span>
                    <span><i class="fas fa-phone"></i>+39 3756566588</span>
                </div>
            </div>  
            <div class="col-xl-6 col-lg-6 col-md-4 text-center text-md-right">
                <div class="top-social-links">
                    <span>Follow us:</span>
                    <a href="https://www.linkedin.com/in/andrea-vimercati-86807082/"><i class="fab fa-linkedin-in"></i></a>
                    <!-- <a href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a>
                    <a href="{{site.pinterest_url}}"><i class="fab fa-pinterest-p"></i></a> -->
                    <div class="top-btn">
                        <a href="mailto: andrea.vimercati@vimexsrl.com">Ricevi una quotazione</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>