<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Increase the revenue<br><span> of your Diagnostic solutions</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s"> We offer partnerships to design a go-to-market strategy and sell your Diagnostic and Laboratory Diagnostic products in Italy, thanks to long-lasting relationships with the main Italian stakeholders,built for twenty years.</p>
                            <a href="{{site.baseurl}}/agenzia" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Increase the efficacy <br>of your salesforce</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Organization and re-organization of your salesforce on a strategic (how to build a value proposition & storytelling), operational (how to increase the effectiviness of the salesman) and technological level (how to support sales with the latest productivity technology).</p>
                            <a href="{{site.baseurl}}/consulenza" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Choose <br>the best people <span>for the Diagnostic market</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">We offer HR recruiting services from sales to technical profiles for the Diagnostic market.</p>
                            <a href="{{site.baseurl}}/consulenzaHR" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>