<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Conoscenza profonda del mercato italiano della Diagnostica di Laboratorio, delle dinamiche che lo guidano e lo governano (Gare Regionali tramite Centrali Regionali d’Acquisto) in un contesto normativo/giuridico italiano, regionale ed europeo in continua e costante e così rapida evoluzione;
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/01.jpg" class="img-fluid" alt="">
                        <h4>Evana Chy</h4>
                        <span>Chairman</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            •	conoscenza profonda e dettagliata, maturata negli anni, delle dinamiche di acquisto e di approvvigionamento in ambito ospedaliero sia pubblico (Sistema Sanitario Nazionale) tramite il processo di Gara Pubblica d’Appalto che privato tramite una forte progettualità integrata ad un’analisi fine costo/beneficio;
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/02.jpg" class="img-fluid" alt="">
                        <h4>Ollie Schneider</h4>
                        <span>C.E.O</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/03.jpg" class="img-fluid" alt="">
                        <h4>Jackson Nash</h4>
                        <span>Chairman</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>